body {
          background-image: url('http://free-hd-wall-papers.com/images/hd-galaxy-wallpaper/hd-galaxy-wallpaper-9.jpg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
}

html {
          scroll-behavior: smooth;
}

h1 {
          height: 60px;
          padding: 10px;
          margin: 10px;
          text-align: center;
          font-family: cursive;
}
    
p {
          margin: 10px;
          padding: 10px;

}

a {
          color: white;         
}

.iframe_class {
          margin: 10px;
          padding: 10px;
          text-align: center;
          
}

.section {
          text-align: center;
}

.content {
          color: white;
}

iframe {
          border: 2px white solid;         
}
